body {
	background: url(confectionary.png);
}

#bookshelf-wrapper {
  width: 100vw;
  overflow: scroll;
  scroll-snap-type: mandatory;
}

#bookshelf {
  width: 200vw;
  display: flex;
}

.stack-wrapper {
  scroll-snap-align: start none;
  width: 100%;
}

#parahumans-stack, #harry-potter-stack {
  display: float;
  margin: 10px;
}

#about {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1em;
  background: white;
}

#about p {
  margin: 10px 0px;
}

.book {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Century Gothic", "Helvetica", sans-serif;
	color: hsla(0, 0%, 0%, 0.2);
	text-shadow: 1px 1px 1px hsla(29, 22%, 70%, 0.6), -1px -1px 0px hsla(0, 0%, 0%, 0.4);
	font-size: 8px;
  text-align: right;
}

@media (min-width: 1000px) {
  .stack-wrapper {
    max-width: 50%;
  }

  #bookshelf {
    justify-content: center;
    width: auto;
  }
}
