.title {
	font-family: "Century Gothic", "Helvetica", sans-serif;
	color: hsla(0, 0%, 0%, 0.2);
	text-shadow: 0px 0px 0px hsla(29, 22%, 80%, 0.6), -1px -1px 0px hsla(0, 0%, 0%, 0.4);
	font-size: 9px;
  text-align: right;
}
