body {
	padding: 10px;
	background: url(confectionary.png);
}

.book {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Century Gothic", "Helvetica", sans-serif;
	color: hsla(0, 0%, 0%, 0.2);
	text-shadow: 1px 1px 1px hsla(29, 22%, 70%, 0.6), -1px -1px 0px hsla(0, 0%, 0%, 0.4);
	font-size: 8px;
  text-align: right;
}
