body {
	margin: 10px;
}

h1 {
	padding: 10px;
	padding-bottom: 0px;
	font-size: 30px;
}

.flex-container {
	padding: 10px;
	padding-bottom: 0px;
	display: flex;
}

.book {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(1deg);
	transform-origin: center center 0;
}

#worm .book {
	background: linear-gradient(261deg , #4aff81, green 40%, #14410b);
	border: 1px solid #00210c;
}

#hp .book {
	background: linear-gradient(261deg , #7c85f4, #0b10b0 40%, #0b1241);
	border: 1px solid #000421;
}

.title {
	color: #832222;
	font-size: 20px;
	text-align: center;
	transform: rotate(90deg);
	transform-origin: center center 0;
}